# ------------------------------------------------------------------------------ #
# Java defaults (https://github.com/github/gitignore/blob/master/Java.gitignore) #
# ------------------------------------------------------------------------------ #
*.class

# Package Files #
*.jar
*.war
*.ear

# Exception for local dependancy
!local-maven-repo/

# ------------------------------------------------------------------------------------------- #
# Eclipse-specific (https://github.com/github/gitignore/blob/master/Global/Eclipse.gitignore) #
# ------------------------------------------------------------------------------------------- #
*.pydevproject
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
# You may want to remove the sharp symbols here if you are using Maven 
.project
.classpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# --------------- #
# Studio-specific #
# --------------- #
.studio/
.mule/
backups/
ramls/
flows/
target/
**/*md__io__.xml
**/*.mflow
studio_id.xml
logs/

# --------------- #
# IntelliJ #
# --------------- #
.idea/
**/*.iml
MetricsTest/
!/local-maven-repo/org/interledger/java-ilp-core/0.6.1-SNAPSHOT/
!/local-maven-repo/org/interledger/java-ilp-core/0.6.1-SNAPSHOT/java-ilp-core-0.6.1-SNAPSHOT.jar
